<section class="menu cid-sh7MMfmVZn" once="menu" id="menu2-6">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://qeacourse.github.io/index.html">
                        <img src="qeacourse.github.io/assets/images/olinlogo.png" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item dropdown"><a class="nav-link link dropdown-toggle text-black display-4" href="https://qeacourse.github.io/" aria-expanded="false" data-toggle="dropdown-submenu">
                        Modules</a><div class="dropdown-menu"><a class="dropdown-item text-black display-4" href="https://qeacourse.github.io/page3.html" aria-expanded="false" target="_blank">A Face in the Crowd</a><a class="dropdown-item text-black display-4" href="https://qeacourse.github.io/page4.html" aria-expanded="false" target="_blank">Robo Ninja Warrior</a><a class="dropdown-item text-black display-4" href="https://qeacourse.github.io/page4.html" aria-expanded="false" target="_blank">Robo Ninja Warrior</a></div></li><li class="nav-item"><a class="nav-link link text-black display-4" href="https://qeacourse.github.io/page2.html">
                        Student Work</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-black display-4" href="https://qeacourse.github.io/page1.html">Contact Us
                    </a>
                </li></ul>
            
        </div>
    </nav>
</section>
